@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

*{
  margin: auto;
  padding: auto;
}

html{

  height: 100%;

}

body{
  margin: auto;
  padding: auto;
  background-image: url("../images/101.gif");
  color: white;
  margin: 10;
  padding: 10;
  text-align: justify-all;
}

#site{
  font-size: 10px;
}


p{
  font-size: 20px;
  color: black;
  padding-top: 0px;
  text-align: center;
  text-align: justify-all;
  color: #000000;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  font-family: initial;
  font-style: italic;
}


nav ul#menu{
  /*background-color: #495931;*/
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
  position: fixed; 
  width: 100%;
  text-align: justify;
  text-align: center;
}

nav li{
  display: inline;
  text-align: justify;
  line-height: 60px;
}

a:link, a:visited{
  font-size: 20px;
  text-decoration: underline;
  text-decoration: none;
  color: blue;
  padding: 10px;
  text-shadow: 1px 1px #000;
  text-align: center;
  text-align: justify-all;
}

a:hover, a:active{
  /*background-color: #F2F2F2;*/
  background-color: rgba(0, 0, 0, 0.0);
  color: #000;
  text-shadow: 1px 1px #FFF;
  text-decoration: underline;
  text-align: center;
  text-align: justify-all;
}

#banner{
  width: 100%;
  height: 571px;
  background-size: cover;
}

p.destaque1{
  text-align: center;
  font-size: 4.0em;
  padding-top: 200px;
}

p.destaque2{
  text-align: center;
  font-size: 3.0em;
}

h1{
  font-size: 4.0em;
  padding: 100px 0;
  text-align: center;
  color: black;
  text-align: justify;
  color: black;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  font-style: italic;
}

h2{
  font-size: 20px;
  padding: 5px;
  padding-left: 460px ;
  text-align: center;
  color: black;
  text-align: justify;
  color: blue;
  text-shadow: 1px 1px 1px #000;
  text-align: justify-all;

}

h3{
  font-size: 20px;
  padding: 5px;
  margin-left: 750px ;
  text-align: center;
  color: black;
  text-align: justify;
  color: blue;
  text-shadow: 1px 1px 1px #000;
  text-align: justify-all;

}

h4{
  font-size: 20px;
  padding: 20px;
  margin-left: 560px ;
  text-align: center;
  color: black;
  text-align: justify;
  color: black;
  text-shadow: 1px 1px 1px #000;
  text-align: justify-all;
  font-family: initial;
  font-style: italic;
}

h5{
  font-size: 20px;
  padding: 0px;
  margin-left: 615px ;
  text-align: center;
  color: black;
  text-align: justify;
  color: black;
  text-shadow: 1px 1px 1px #000;
  text-align: justify-all;
  font-family: initial;
  font-style: italic;
}

h6{
  font-size: 10px;
  padding: 0px;
  padding-left: 750px ;
  text-align: center;
  color: black;
  text-align: justify;
  color: blue;
  text-shadow: 1px 1px 1px #000;
  text-align: justify-all;
}

.floatLeft{float:left};

.floatRight{float:right};

body{width:90%;margin: 0 auto;min-width:600px;max-width:2000px}
